.hidden{
  display: none;
}

/* main */
.block {
    width: 95%;
    max-width: 1000px;
    background: #F4F6FB;
    box-shadow: 1px 4px 23px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.article__dropmenu {
    font-family: "Popins", sans-serif;
    padding: 18px 29px 29px 29px;
    background: #F4F6FB;
  }
  .dropmenu__author {
    display: flex;
    align-items: center;
  }
  .dropmenu__lists{
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-weight: 600;
    padding-left: 0;
  }
  .dropmenu__list-item{
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
    margin-left: 10px;
  }
  .article__dropmenu-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 5px;
  }
 
  .dropmenu__text {
    width: 100%;
    max-width: 930px;
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.06em;
    margin-top: 18px;
  }
  .dropmenu__buttons {
    display: flex;
    align-items: center;
  }
  .dropmenu__btn-button{
    padding: 17px 23px;
    color: #3C64B1;
    border: 1px solid #3C64B1;;
    border-radius: 20px;
  } 
  