.filters-mobile {
  display: none;
  margin: 0 auto;
  max-width: 1000px;
  width: 95%;  
  height: 60px;
  
  color: #000;
  
  background-color: rgba(244, 246, 251, 1);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;

  margin-bottom: 17.5px;
  border-radius: 30px;
  padding-left: 20px;

  box-sizing: border-box;
  box-shadow: 1px 3px 23px rgb(0 0 0 / 15%);
}

.filters-mobile ul {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;

  color: #000;
  list-style-type: none;
}

.filters-mobile ul li {
  position: relative;
  margin: 0 20px 0 0;
}


.filters-mobile ul li a {
  display: flex;
  
  padding: 20px;
  color: #000;

  text-decoration: none;
}

.filters-mobile ul li ul {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: rgba(244, 246, 251, 1);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 25px 23px rgb(0 0 0 / 15%);
  z-index: 1;
}

.filters-mobile ul li ul li {
  width: 100%;
}

.filters-mobile ul li:hover ul {
  display: block;
}


@media (max-width: 897px) {
  .filters-mobile {
    display: block;
  }
}