.filters-mobile {
  display: none;
  margin: 0 auto;
  max-width: 1000px;
  width: 95%;
  height: 60px;
  align-items: center;

  color: #000;

  background-color: rgba(244, 246, 251, 1);
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;

  margin-bottom: 17.5px;
  border-radius: 30px;
  padding-left: 22px;

  box-sizing: border-box;
  box-shadow: 1px 5px 13px rgb(0 0 0 / 15%);
}

.filters-mobile ul {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  padding: 0;

  color: #000;
  list-style-type: none;
}

.filters-mobile ul li {
  position: relative;
}


.filters-mobile ul li a {
  display: flex;

  padding: 20px 0 20px 0;
  color: #000;

  text-decoration: none;
}

.filters-mobile ul li ul {
  display: none;
  position: absolute;
  width: 130%;
  left: -15%;
  background-color: rgba(244, 246, 251, 1);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 25px 23px rgb(0 0 0 / 15%);
  z-index: 1;
}

.filters-mobile ul li ul .topics-ul {
  width: 250%;
  left: -75%;
}

.filters-mobile ul li ul .periods-ua {
  width: 120%;
  left: -10%;
}

.filters-mobile ul li .date-ul {
  width: 200%;
  left: -50%;
}

.filters-mobile ul li ul li {
  width: 100%;
  margin-bottom: 15px;
}

.filters-mobile ul li:hover ul {
  display: block;
}

.filter-img {
  float: left;
  margin-top: 13px;
  max-width: 36px;
  max-height: 36px;
  width: 100%;
  height: 100%;
}


@media (max-width: 897px) {
  .filters-mobile {
    display: block;
  }
}

@media (max-width: 630px) {
  .filters-mobile ul li .date-ul {
    width: 150%;
    left: -25%;
  }
}

@media (max-width: 530px) {
  .filters-mobile ul li .date-ul {
    width: 120%;
    left: -10%;
  }
}

@media (min-width: 280px) and (max-width: 410px) {
  .filters-mobile {
    font-size: 13px;
    padding-left: 12px;
  }

  .filter-img {
    float: left;
    margin-top: 17px;
    max-width: 26px;
    max-height: 26px;
    width: 100%;
    height: 100%;
  }

  .filters-mobile ul li a {
    margin-top: 3px;
  }
}