.filters-mobile {

  display: block;
  margin: 0 auto;
  width: 95%;
  height: 60px;
  /* overflow: auto; 
  white-space: nowrap; */
  background-color: rgba(244, 246, 251, 1);
  color: black;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 17.5px;
  border-radius: 30px;
  padding-left: 20px;
  box-sizing: border-box;
  box-shadow: 1px 3px 23px rgb(0 0 0 / 15%);
}

.filters-mobile ul {
  margin: auto;
  color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: flex;
}

.filters-mobile ul li {
  position: relative;
  margin: 0 20px 0 0;
  float: left;
  display: inline-block;
}


.filters-mobile ul li a {
  padding: 20px;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.filters-mobile ul li ul {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(244, 246, 251, 1);
  float: left;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 25px 23px rgb(0 0 0 / 15%);
}

.filters-mobile ul li ul li {
  width: 100%;
}

.filters-mobile ul li:hover ul {
  display: block;
}

