::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 1);
}