.articles-search {
  width: 90%;
  max-width: 998px;
  display: -ms-grid;
  display: grid;
  gap: 21px;
  margin-top: 100px;
}

.articles-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-left: 20px;
  padding:7px 11px;
  background: #F4F6FB;
  border: 1px solid #3C64B1;
  border-radius: 12px;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 17.5px;
}

.search-input {
  width: 85%;
  max-width: 880px;
  padding-left: 15px;
  border: none;
  border-radius: 30px;
  background-color: rgba(244, 246, 251, 1);
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}

img.search__img {
  width: 38px;
  height: 38px;
}

.filter__img {
  margin-left: 20px;
}

.articles-search__item img {
  cursor: pointer;
}

@media (max-width: 985px) {
  .filter__img {
    margin-left: -6px;
  }
}

@media (max-width: 897px) {
  .filter__img {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 410px) {
  .articles-search__item {
    padding-left: 10px;
  }

  .filter__img {
    display: none;
  }

}