.articles-search {
    width: 90%;
    max-width: 1000px;
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: 1000px; */
    /* grid-template-columns: 1000px; */
    gap: 0 21px;
    margin-top: 100px;
}

.articles-search__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
    background-color: #e5edf1;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border-radius: 30px;
    font-size: 28px;
    font-family: "Mulish", sans-serif;
  }

  .search-input {
    width: 100%;
    max-width: 880px;
    padding-left: 15px;
    border: none;
    background-color: #e5edf1;
    font-family: inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
}

.search-img {
  width: 42px;
  height: 42px;
}

.articles-search__item .search-img {
  padding-top: 10px;
}

.articles-search__item img {
  cursor: pointer;
}