.articles-search {
  width: 95%;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  gap: 0 21px;
  margin-top: 100px;
}

.articles-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-left: 20px;
  height: 60px;
  background-color: rgba(244, 246, 251, 1);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 1px 5px 13px rgb(0 0 0 / 15%);
  border-radius: 30px;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  margin-bottom: 17.5px;
}

.search-input {
  width: 85%;
  max-width: 880px;
  padding-left: 15px;
  border: none;
  border-radius: 30px;
  background-color: rgba(244, 246, 251, 1);
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}

.search__img {
  max-width: 38px;
  max-height: 38px;
  width: 100%;
  height: 100%;
}

.articles-search__item img {
  cursor: pointer;
}

@media (min-width: 280px) and (max-width: 410px) {
  .articles-search__item {
    padding-left: 10px;
  }

}