@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mulish:wght@400;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Container */
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Li */
li {
  list-style: none;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #f4f6fb;
  flex: 0 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: 1px solid #3c64b1;
  color: #3c64b1;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
}

.header__button:hover {
  background-color: #3c64b1;
  color: #ffffff;
  transition: 0.5s;
}

.nav__menu {
  display: flex;
}

.menu__items {
  display: flex;
  gap: 48px;
}

.menu-item__link {
  color: #373f41;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.menu-item__link:hover {
  color: #3c64b1;
  transition: 0.5s;
}

.language {
  display: flex;
}

.header .icons {
  display: flex;
  justify-content: start;
  padding-left: 9%;
  padding-top: 273px;
}

/* Main */
.main {
  display: grid;
  grid-template-areas: "aside main";
}

/* footer */

.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 85px;
  flex: 0 0 auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 230px));
  column-gap: 94px;
  margin-bottom: 41px;
  padding-top: 58px;
  justify-content: center;
  justify-items: center;
}

.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 12%;
}

.social__subtitel {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.copyryight {
  margin-bottom: 24px;
  color: #737b7d;
}

.donate__list {
  padding-left: 0;
}

.footer .titel {
  color: #ffffff;
}

#hamburger-menu {
  display: none;
}

/* Button */
.button {
  background-color: #3c64b1;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.titel {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

.subtitel {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

#lang {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

/* Media 1230px */
@media (max-width: 1230px) {
  .menu__btn {
    display: block;
  }

  .header__wrapper {
    justify-content: start;
  }

  .header__logo {
    position: relative;
    z-index: 1;
  }

  .hamburger-menu {
    display: inline;
  }

  .hamburger-menu li:first-child {
    padding-top: 75px;
  }

  .header__button, .language, .nav__menu {
    display: none;
  }
}

/* Media 897px */
@media (max-width: 897px) {
  .footer__wrapper::after {
    bottom: 8%;
  }
}

/* Media  280px - 410px */
@media (min-width: 280px) and (max-width: 410px) {
  .copyryight {
    margin-top: 12px;
  }

  .header__logo {
    width: 90px;
    height: 100px;
    background-image: url(/img/media-logo.svg);
    background-repeat: no-repeat;
  }
  
  .header-logo__img {
    display: none;
  }
}
