@font-face {
  font-weight: 700;
  font-family: "Charelnk";
  src: url("../fonts/ChareInk-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Charelnk";
  src: url("../fonts/ChareInk-Regular.ttf");
}


body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[class*="-button"]:hover {
  background-color: #3457b2;
  color: #ffffff;
  transition: 0.5s;
}
.hidden{
  display: none;
}

/* Container */
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  background-color: #f4f6fb;
  flex: 0 0 auto;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__login{
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  margin-right: -14px;
  padding: 14px 18px;
  border-radius: 12px;
}
.header__signup{
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  padding: 14px 49px;
  border-radius: 12px;
}


.header__login:hover {
  background-color: #3c64b1;
  color: #ffffff;
  transition: 0.5s;
}

.header__signup:hover {
  background-color: #3c64b1;
  color: #ffffff;
  transition: 0.5s;
}

.nav__menu {
  display: flex;
}

.menu__items {
  display: flex;
  gap: 48px;
}

.menu-item__link {
  color: #373f41;
  font-size: 18px;
  font-weight: 600;
}

.menu-item__link.active {
  color: #3c64b1;
}

.menu-item__link:hover {
  color: #3c64b1;
  transition: 0.5s;
}

.language {
  display: flex;
}
.registr{
  position: absolute;
  background-color: #F5F7FB;
  display: flex;
  width: 500px;
  flex-direction: column;
  top: 100%;
  left: 57%;
  border-radius: 5px;
  font-weight: 500;
  color: #282828;
  filter: drop-shadow(1px 13px 29px  rgba(0, 0, 0, 0.26));
}
.form__registr{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 10px 16px;
}
.form__signin{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 10px 16px;
}

.form__signin, input{ 
  padding: 12px;
  border-radius: 5px;
  border-color: #282828;
}
.form__signin label{
  margin-top: 56px;
  margin-bottom: 10px;
}
.form__signin label:first-child{
  margin-top: 5px;
}

.form_registr, input{ 
  padding: 12px;
  border-radius: 5px;
  border-color: #282828;
}
.form__registr label{
  margin-top: 56px;
  margin-bottom: 10px;
}
.form__registr label:first-child{
  margin-top: 5px;
}
.error-empty{
  color: #ED0131;
  font-size: 12px;

}
.error-password{
  color: #ED0131;
  font-size: 12px;
}
.submit__btn{
  width: 100%;
  font-weight: 700;
  border: 1px solid #3c64b1;
  background-color: #3c64b1;
  color: #d9d9d9;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 12px;
}

.submit__btn-signin{
  width: 100%;
  font-weight: 700;
  border: 1px solid #3c64b1;
  background-color: #3c64b1;
  color: #d9d9d9;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 12px;
}
.sign__in{
  position: absolute;
  background-color: #F5F7FB;
  display: flex;
  width: 500px;
  flex-direction: column;
  top: 100%;
  left: 57%;
  border-radius: 5px;
  color: #282828;
  filter: drop-shadow(1px 13px 29px  rgba(0, 0, 0, 0.26));
}

.burgerg__language{
  display: flex;
  padding-left: 20px;
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
}
.burger__icons {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-left: 7%;
  gap: 15px;
}

/* Main */
.main {
  display: grid;
  grid-template-areas: "aside main";
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Aside */
.aside {
  max-width: 500px;
  width: 100%;
}

/* footer */

.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 85px;
  flex: 0 0 auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 230px));
  column-gap: 94px;
  margin-bottom: 41px;
  padding-top: 58px;
  justify-content: center;
  justify-items: center;
}

.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 12%;
}

.social__subtitel {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.copyryight {
  margin-bottom: 24px;
  color: #737b7d;
}
.contacts{
  max-width: 227px;
}
.donate__list {
  padding-left: 0;
}

.footer .titel {
  color: #ffffff;
}

#hamburger-menu {
  display: none;
}

/* Button */
.button {
  background-color: #3c64b1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.titel {
  font-weight: 700;
}

.subtitel {
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

#lang {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

/* Media 1230px */
@media (max-width: 1230px) {
  .menu__btn {
    display: block;
  }

  .header__signup{display: none;}
  
  .header__login{display: none;}

  .header__wrapper {
    justify-content: start;
  }

  .header__logo {
    position: relative;
    z-index: 1;
  }

  .hamburger-menu {
    display: inline;
  }

  .header__button,
  .language,
  .nav__menu {
    display: none;
  }

  .text {
    font-size: 16px;
  }

  .time {
    font-size: 10px;
  }

  .name {
    font-size: 18px;
  }

  .articles-pagination .control-text {
    font-size: 20px;
  }

  .articles-pagination .control-numbers {
    font-size: 26px;
  }
}

/* Media 897px */
@media (max-width: 897px) {
  .footer__wrapper::after {
    bottom: 8%;
  }

  .search-input {
    font-size: 20px;
  }

  img.search__img {
    margin: 0 5px 0 5px;
    width: 36px;
    height: 36px;
  }

  .search__img.filter {
    display: none;
  }

  .user .image {
    width: 35px;
    height: 35px;
  }

  .user .name {
    font-size: 18px;
  }

  .user .time {
    font-size: 12px;
  }

  .article .name {
    font-size: 18px;
  }

  .article .themes {
    font-size: 12px;
  }

  .block .text {
    font-size: 16px;
  }

  .Read__more {
    width: 150px;
    height: 50px;
  }

  .articles-pagination .control-text {
    font-size: 18px;
  }

  .articles-pagination .control-numbers__item,
  .articles-pagination .item {
    font-size: 18px;
    line-height: 2.8rem;
    width: 58px;
    height: 44px;
  }

  .aside {
    display: none;
  }
}

/* Media  280px - 410px */
@media (min-width: 280px) and (max-width: 410px) {
  .copyryight {
    margin-top: 12px;
  }

  .header__logo {
    width: 90px;
    height: 100px;
    background-image: url(/img/media-logo.svg);
    background-repeat: no-repeat;
  }

  .header-logo__img {
    display: none;
  }

  .search-input {
    font-size: 15px;
  }

  .search__img {
    max-width: 28px;
    max-height: 28px;
    width: 100%;
    height: 100%;
  }

  .user .name {
    font-size: 14px;
  }

  .user .time {
    font-size: 11px;
  }

  .article .name {
    font-size: 16px;
  }

  .themes .theme_1,
  .themes .theme_2,
  .themes .theme_3 {
    font-size: 9px;
  }

  .block .text {
    font-size: 14px;
  }

  .Read__more {
    width: 130px;
    height: 45px;
  }

  .articles-pagination {
    grid-template-columns: none;
  }

  .articles-pagination .control-text {
    display: none;
  }

  .articles-pagination .control-numbers__item,
  .articles-pagination .item {
    font-size: 18px;
    line-height: 2.8rem;
    width: 58px;
    height: 44px;
  }
}