/*Inter*/
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Regular.ttf);
  src: url(/fonts/Inter-SemiBold.ttf);
}

/*Mulishr*/
@font-face {
  font-family: "Mulish";
  src: url(/fonts/Mulish-Regular.ttf);
  src: url(/fonts/Mulish-SemiBold.ttf);
  src: url(/fonts/Mulish-Bold.ttf);
}

/*Poppins*/
@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.ttf);
  src: url(/fonts/Poppins-SemiBold.ttf);
}

/* line 1, ../Projects/Project-end/scss/_header.scss */
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #f4f6fb;
  flex: 0 0 auto;
}

/* line 9, ../Projects/Project-end/scss/_header.scss */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 16, ../Projects/Project-end/scss/_header.scss */
.header__button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
}

/* line 25, ../Projects/Project-end/scss/_header.scss */
.header__button:hover {
  background-color: #3457b2;
  color: #ffffff;
  transition: 0.5s;
}

/* line 30, ../Projects/Project-end/scss/_header.scss */
.header .icons {
  display: flex;
  justify-content: start;
  padding-left: 9%;
  padding-top: 273px;
}

/* line 41, ../Projects/Project-end/scss/_header.scss */
.nav__menu {
  display: flex;
}

/* line 48, ../Projects/Project-end/scss/_header.scss */
.menu__items {
  display: flex;
  gap: 48px;
}

/* line 56, ../Projects/Project-end/scss/_header.scss */
.menu-item__link {
  color: #373f41;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

/* line 62, ../Projects/Project-end/scss/_header.scss */
.menu-item__link:hover {
  color: #3457b2;
  transition: 0.5s;
}

/* line 67, ../Projects/Project-end/scss/_header.scss */
.language {
  display: flex;
  /* Test */
}

/* line 1, ../Projects/Project-end/scss/_main.scss */
.main {
  flex: 1 0 auto;
}

/* line 4, ../Projects/Project-end/scss/_main.scss */
.articles {
  padding-top: 63px;
}

/* line 6, ../Projects/Project-end/scss/_main.scss */
.articles .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 12, ../Projects/Project-end/scss/_main.scss */
.articles-title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0.2em;
  text-align: center;
}

/* line 20, ../Projects/Project-end/scss/_main.scss */
.articles-search {
  width: 100%;
  max-width: 1308px;
  display: flex;
  justify-content: space-between;
}

/* line 27, ../Projects/Project-end/scss/_main.scss */
.articles-search__item {
  width: 100%;
  max-width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  background-color: #e5edf1;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 30px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
}

/* line 39, ../Projects/Project-end/scss/_main.scss */
.articles-search__item .search-img {
  padding-top: 10px;
}

/* line 42, ../Projects/Project-end/scss/_main.scss */
.articles-search__item img {
  cursor: pointer;
}

/* line 45, ../Projects/Project-end/scss/_main.scss */
.articles-search__item:first-child {
  width: 100%;
  max-width: 1133px;
}

/* line 51, ../Projects/Project-end/scss/_main.scss */
.articles-items {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1448px));
  grid-template-rows: repeat(6, 1fr);
  gap: 36px;
}

/* line 57, ../Projects/Project-end/scss/_main.scss */
.articles-items__item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 59px 5px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.06em;
  width: 100%;
  max-width: 1448px;
  height: 77px;
  background-color: #e5edf1;
}

/* line 69, ../Projects/Project-end/scss/_main.scss */
.articles-items__item .more-info {
  display: flex;
  justify-content: end;
}

/* line 72, ../Projects/Project-end/scss/_main.scss */
.articles-items__item .more-info img {
  cursor: pointer;
  padding: 8px 8px 0px 0px;
}

/* line 77, ../Projects/Project-end/scss/_main.scss */
.articles-items__item .title {
  display: flex;
  justify-content: center;
}

/* line 81, ../Projects/Project-end/scss/_main.scss */
.articles-items__item .data {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #797979;
  padding: 0px 0px 8px 8px;
}

/* line 91, ../Projects/Project-end/scss/_main.scss */
.articles-pagination {
  width: 100%;
  max-width: 1453px;
  height: fit-content;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 40px;
  background-color: white;
  box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  margin-top: 85px;
}

/* line 105, ../Projects/Project-end/scss/_main.scss */
.articles-pagination .control-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  cursor: pointer;
}

/* line 112, ../Projects/Project-end/scss/_main.scss */
.articles-pagination .control-numbers {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

/* line 118, ../Projects/Project-end/scss/_main.scss */
.articles-pagination .control-numbers__item {
  cursor: pointer;
  width: 68px;
  height: 50px;
  line-height: 1.8em;
  border-radius: 20px;
}

/* line 124, ../Projects/Project-end/scss/_main.scss */
.articles-pagination .control-numbers__item--active {
  background-color: #d9d9d9;
}

/* line 131, ../Projects/Project-end/scss/_main.scss */
.search-input {
  width: 100%;
  max-width: 1000px;
  padding-left: 15px;
  border: none;
  background-color: #e5edf1;
  font-family: Inter;
  font-size: 28px;
}

/* line 140, ../Projects/Project-end/scss/_main.scss */
.profile {
  padding-top: 49px;
}

/* line 145, ../Projects/Project-end/scss/_main.scss */
.profile__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 132px;
  padding-top: 100px;
}

/* line 155, ../Projects/Project-end/scss/_main.scss */
.profile__info {
  display: flex;
  flex-direction: column;
}

/* line 162, ../Projects/Project-end/scss/_main.scss */
.profile__video {
  width: 100%;
  max-width: 738px;
  height: 100%;
  min-width: calc(738px / 3);
  border-radius: 30px;
  background: #e5edf1;
}

/* line 171, ../Projects/Project-end/scss/_main.scss */
.profile__item-img {
  width: 100%;
  max-width: 512px;
  min-width: 250px;
}

/* line 177, ../Projects/Project-end/scss/_main.scss */
.profile__titel {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

/* line 184, ../Projects/Project-end/scss/_main.scss */
.profile__titel {
  margin-top: 50px;
}

/* line 189, ../Projects/Project-end/scss/_main.scss */
.profile__link {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #3379e3;
}

/* line 197, ../Projects/Project-end/scss/_main.scss */
.profile__age {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

/* line 205, ../Projects/Project-end/scss/_main.scss */
.profile__city {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

/* line 212, ../Projects/Project-end/scss/_main.scss */
.bio {
  width: 100%;
  max-width: 1811px;
  margin: 0 auto;
}

/* line 217, ../Projects/Project-end/scss/_main.scss */
.bio__titel {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 29px;
  margin-top: 94px;
}

/* line 225, ../Projects/Project-end/scss/_main.scss */
.bio__text {
  font-size: 30px;
}

/* line 1, ../Projects/Project-end/scss/_footer.scss */
.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 98px;
  flex: 0 0 auto;
}

/* line 10, ../Projects/Project-end/scss/_footer.scss */
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 15%));
  column-gap: 145px;
  margin-bottom: 41px;
  padding-top: 58px;
  justify-content: center;
}

/* line 19, ../Projects/Project-end/scss/_footer.scss */
.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 10%;
}

/* line 35, ../Projects/Project-end/scss/_footer.scss */
.social__subtitel {
  margin-bottom: 20px;
}

/* line 40, ../Projects/Project-end/scss/_footer.scss */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* line 46, ../Projects/Project-end/scss/_footer.scss */
.copyryight {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #C3CBCD;
}

/* line 52, ../Projects/Project-end/scss/_footer.scss */
.donate__list {
  padding-left: 0;
}

/* line 56, ../Projects/Project-end/scss/_footer.scss */
.footer .titel {
  margin-bottom: 24px;
  color: #ffffff;
}

/* Test */
@media (max-width: 1250px) {
  /* line 2, ../Projects/Project-end/scss/_media.scss */
  .menu__btn {
    display: block;
  }
  /* line 6, ../Projects/Project-end/scss/_media.scss */
  .header__wrapper {
    justify-content: start;
  }
  /* line 10, ../Projects/Project-end/scss/_media.scss */
  .header__logo {
    position: relative;
    z-index: 1;
  }
  /* line 15, ../Projects/Project-end/scss/_media.scss */
  .button__item {
    padding: 0 1%;
  }
  /* line 19, ../Projects/Project-end/scss/_media.scss */
  .hamburger-menu {
    display: inline;
  }
  /* line 23, ../Projects/Project-end/scss/_media.scss */
  .header__button {
    display: none;
  }
  /* line 27, ../Projects/Project-end/scss/_media.scss */
  .language {
    display: none;
  }
  /* line 31, ../Projects/Project-end/scss/_media.scss */
  .nav__menu {
    display: none;
  }
  /* line 35, ../Projects/Project-end/scss/_media.scss */
  .hero__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 41, ../Projects/Project-end/scss/_media.scss */
  .hero__inner-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 48, ../Projects/Project-end/scss/_media.scss */
  .button__item {
    font-size: 22px;
  }
}

@media (max-width: 826px) {
  /* line 54, ../Projects/Project-end/scss/_media.scss */
  .button__item {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  /* line 60, ../Projects/Project-end/scss/_media.scss */
  .video {
    min-height: 280px;
  }
  /* line 64, ../Projects/Project-end/scss/_media.scss */
  .menu__button {
    flex-wrap: wrap;
  }
  /* line 68, ../Projects/Project-end/scss/_media.scss */
  .button__item {
    width: 50%;
  }
  /* line 72, ../Projects/Project-end/scss/_media.scss */
  .button__item:nth-child(2) {
    border-radius: 0 21px 21px 0;
  }
  /* line 76, ../Projects/Project-end/scss/_media.scss */
  .button__item:nth-child(3) {
    border-radius: 21px 0 0 21px;
  }
}

@media (min-width: 280px) and (max-width: 410px) {
  /* line 82, ../Projects/Project-end/scss/_media.scss */
  .hero__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  /* line 89, ../Projects/Project-end/scss/_media.scss */
  .hero-button__link {
    margin-right: 0;
  }
  /* line 93, ../Projects/Project-end/scss/_media.scss */
  .history__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  /* line 100, ../Projects/Project-end/scss/_media.scss */
  .copyryight {
    margin-top: 12px;
  }
  /* line 104, ../Projects/Project-end/scss/_media.scss */
  .card__inner {
    row-gap: 55px;
  }
  /* line 108, ../Projects/Project-end/scss/_media.scss */
  .button__item {
    width: 100%;
  }
  /* line 112, ../Projects/Project-end/scss/_media.scss */
  .button__item:nth-child(1),
  .button__item:nth-child(2),
  .button__item:nth-child(3),
  .button__item:nth-child(4) {
    border-radius: 0;
  }
}

/* line 8, ../Projects/Project-end/scss/style.scss */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 14, ../Projects/Project-end/scss/style.scss */
[class*="__container"] {
  width: 100%;
  max-width: 1814px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 21, ../Projects/Project-end/scss/style.scss */
#hamburger-menu {
  display: none;
}

/* line 25, ../Projects/Project-end/scss/style.scss */
.button {
  background-color: #3457b2;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* line 33, ../Projects/Project-end/scss/style.scss */
.titel {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

/* line 38, ../Projects/Project-end/scss/style.scss */
.subtitel {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

/* line 45, ../Projects/Project-end/scss/style.scss */
#lang {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

/* line 56, ../Projects/Project-end/scss/style.scss */
.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

/* line 63, ../Projects/Project-end/scss/style.scss */
li {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */