/*Inter*/
@font-face {
  font-weight: 600;
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}
/*Mulishr*/
@font-face {
  font-weight: 400;
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}
@font-face {
  font-weight: 700;
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
}
@font-face {
  font-weight: 600;
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
}
/*Poppins*/
@font-face {
  font-weight: 400;
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #f4f6fb;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
}
.header__button:hover {
  background-color: #3457b2;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 9%;
  padding-top: 273px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.menu-item__link {
  color: #373f41;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.menu-item__link:hover {
  color: #3457b2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Test */
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.articles {
  padding: 63px 20px 0px 20px;
}
.articles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles-title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0.2em;
  text-align: center;
}
.articles-search {
  margin: 0 -10px;
  width: 100%;
  max-width: 1308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.articles-search__item {
  width: 100%;
  max-width: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 59px;
  background-color: #e5edf1;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 30px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 10px;
}
.articles-search__item .search-img {
  padding: 10px 10px 0px 10px;
}
.articles-search__item img {
  padding: 5px;
  cursor: pointer;
}
.articles-search__item:first-child {
  width: 100%;
  max-width: 1133px;
}
.articles-items {
  margin-top: 38px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1448px));
  -ms-grid-rows: 1fr 36px 1fr 36px 1fr 36px 1fr 36px 1fr 36px 1fr;
  grid-template-rows: repeat(6, 1fr);
  padding: 0px 10px;
  gap: 36px;
}
.articles-items__item {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 59px 5px;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.06em;
  width: 100%;
  max-width: 1448px;
  height: 77px;
  background-color: #e5edf1;
}
.articles-items__item .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.articles-items__item .more-info img {
  cursor: pointer;
  padding: 8px 8px 0px 0px;
}
.articles-items__item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles-items__item .data {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #797979;
  padding: 0px 0px 8px 8px;
}
.articles-pagination {
  width: 100%;
  max-width: 1453px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 40px 1fr 40px 0.2fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 40px;
  background-color: white;
  -webkit-box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
          box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  margin-top: 85px;
}
.articles-pagination .control-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  padding: 0px 10px;
  cursor: pointer;
}
.articles-pagination .control-numbers {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}
.articles-pagination .control-numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 68px;
  height: 50px;
  line-height: 1.8em;
  border-radius: 20px;
}
.articles-pagination .control-numbers__item--active {
  background-color: #d9d9d9;
}

.search-input {
  width: 100%;
  max-width: 1000px;
  padding-left: 15px;
  border: none;
  background-color: #e5edf1;
  font-family: Inter;
  font-size: 28px;
}

.profile {
  padding-top: 49px;
}
.profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 132px;
  padding-top: 100px;
}
.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profile__video {
  width: 100%;
  max-width: 738px;
  height: 100%;
  min-width: 246px;
  border-radius: 30px;
  background: #e5edf1;
}
.profile__item-img {
  width: 100%;
  max-width: 512px;
  min-width: 250px;
}
.profile__titel {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.profile__titel {
  margin-top: 50px;
}
.profile__link {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: #3379e3;
}
.profile__age {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}
.profile__city {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 0;
}

.bio {
  width: 100%;
  max-width: 1811px;
  margin: 0 auto;
}
.bio__titel {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 29px;
  margin-top: 94px;
}
.bio__text {
  font-size: 30px;
}

.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 98px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 15%));
  -webkit-column-gap: 145px;
     -moz-column-gap: 145px;
          column-gap: 145px;
  margin-bottom: 41px;
  padding-top: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 10%;
}

.social__subtitel {
  margin-bottom: 20px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.copyryight {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #C3CBCD;
}

.donate__list {
  padding-left: 0;
}

.footer .titel {
  margin-bottom: 24px;
  color: #ffffff;
}

/* Test */
@media (max-width: 1250px) {
  .menu__btn {
    display: block;
  }

  .header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .header__logo {
    position: relative;
    z-index: 1;
  }

  .button__item {
    padding: 0 1%;
  }

  .hamburger-menu {
    display: inline;
  }

  .header__button {
    display: none;
  }

  .language {
    display: none;
  }

  .nav__menu {
    display: none;
  }

  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__inner-titel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .button__item {
    font-size: 22px;
  }
}
@media (max-width: 826px) {
  .button__item {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .video {
    min-height: 280px;
  }

  .menu__button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .button__item {
    width: 50%;
  }

  .button__item:nth-child(2) {
    border-radius: 0 21px 21px 0;
  }

  .button__item:nth-child(3) {
    border-radius: 21px 0 0 21px;
  }

  .articles-items__item {
    font-size: 24px;
  }
  .articles-items__item .data {
    font-size: 16px;
  }

  #forward {
    grid-area: forward;
  }

  #back {
    grid-area: back;
  }

  .articles-pagination {
        grid-template-areas: "numbers numbers" "back forward";
    -ms-grid-columns: 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 0px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
  .articles-pagination .control-numbers {
    grid-area: numbers;
  }
}
@media (max-width: 768px) {

  #forward {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  #back {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .articles-pagination .control-numbers {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media (min-width: 280px) and (max-width: 410px) {
  .hero__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .hero-button__link {
    margin-right: 0;
  }

  .history__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .copyryight {
    margin-top: 12px;
  }

  .card__inner {
    row-gap: 55px;
  }

  .button__item {
    width: 100%;
  }

  .button__item:nth-child(1),
.button__item:nth-child(2),
.button__item:nth-child(3),
.button__item:nth-child(4) {
    border-radius: 0;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

[class*=__container] {
  width: 100%;
  max-width: 1814px;
  margin: 0 auto;
  padding: 0 10px;
}

#hamburger-menu {
  display: none;
}

.button {
  background-color: #3457b2;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.titel {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

.subtitel {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

#lang {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

li {
  list-style: none;
}