@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Jost&family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Mulish:wght@400;600;700&family=Poppins:wght@400;600&family=Varela+Round&display=swap");
/* line 1, ../Personal-area/Project-end/scss/_header.scss */
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #F4F6FB;
  flex: 0 0 auto;
}

/* line 9, ../Personal-area/Project-end/scss/_header.scss */
.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 16, ../Personal-area/Project-end/scss/_header.scss */
.header__button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: 1px solid #3457B2;
  color: #3457B2;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
}

/* line 25, ../Personal-area/Project-end/scss/_header.scss */
.header__button:hover {
  background-color: #3457B2;
  color: #ffffff;
  transition: 0.5s;
}

/* line 30, ../Personal-area/Project-end/scss/_header.scss */
.header .icons {
  display: flex;
  justify-content: start;
  padding-left: 9%;
  padding-top: 273px;
}

/* line 42, ../Personal-area/Project-end/scss/_header.scss */
.nav__menu {
  display: flex;
}

/* line 50, ../Personal-area/Project-end/scss/_header.scss */
.menu__items {
  display: flex;
  gap: 48px;
}

/* line 61, ../Personal-area/Project-end/scss/_header.scss */
.menu-item__link {
  color: #373f41;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

/* line 68, ../Personal-area/Project-end/scss/_header.scss */
.menu-item__link:hover {
  color: #3457B2;
  border-bottom: 3px solid #3457B2;
}

/* line 74, ../Personal-area/Project-end/scss/_header.scss */
.language {
  display: flex;
  /* Test */
}

/* line 1, ../Personal-area/Project-end/scss/_main.scss */
.main {
  padding-top: 149px;
  flex: 1 0 auto;
}

/* line 5, ../Personal-area/Project-end/scss/_main.scss */
.profile {
  padding-top: 49px;
}

/* line 10, ../Personal-area/Project-end/scss/_main.scss */
.profile__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 132px;
}

/* line 19, ../Personal-area/Project-end/scss/_main.scss */
.profile__info {
  display: flex;
  flex-direction: column;
}

/* line 26, ../Personal-area/Project-end/scss/_main.scss */
.profile__video {
  width: 100%;
  max-width: 738px;
  height: 100%;
  min-width: calc(738px / 2);
  border-radius: 30px;
  background: #E5EDF1;
}

/* line 35, ../Personal-area/Project-end/scss/_main.scss */
.profile__item-img {
  width: 100%;
  max-width: 512px;
  min-width: 250px;
}

/* line 41, ../Personal-area/Project-end/scss/_main.scss */
.profile__titel {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
}

/* line 49, ../Personal-area/Project-end/scss/_main.scss */
.profile__titel {
  margin-top: 50px;
}

/* line 54, ../Personal-area/Project-end/scss/_main.scss */
.profile__link {
  font-family: Poppins;
  font-size: 29px;
  color: #3379E3;
}

/* line 62, ../Personal-area/Project-end/scss/_main.scss */
.profile__age {
  font-family: Poppins;
  font-size: 30px;
}

/* line 69, ../Personal-area/Project-end/scss/_main.scss */
.profile__city {
  font-family: Poppins;
  font-size: 30px;
}

/* line 76, ../Personal-area/Project-end/scss/_main.scss */
.bio {
  width: 100%;
  max-width: 1811px;
  margin: 0 auto;
}

/* line 81, ../Personal-area/Project-end/scss/_main.scss */
.bio__titel {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 29px;
  margin-top: 94px;
}

/* line 89, ../Personal-area/Project-end/scss/_main.scss */
.bio__text {
  font-size: 30px;
}

/* line 1, ../Personal-area/Project-end/scss/_footer.scss */
.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 98px;
  flex: 0 0 auto;
}

/* line 10, ../Personal-area/Project-end/scss/_footer.scss */
.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 15%));
  column-gap: 145px;
  margin-bottom: 41px;
  padding-top: 58px;
  justify-content: center;
}

/* line 19, ../Personal-area/Project-end/scss/_footer.scss */
.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 10%;
}

/* line 35, ../Personal-area/Project-end/scss/_footer.scss */
.social__subtitel {
  margin-bottom: 20px;
}

/* line 40, ../Personal-area/Project-end/scss/_footer.scss */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* line 46, ../Personal-area/Project-end/scss/_footer.scss */
.copyryight {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #C3CBCD;
}

/* line 52, ../Personal-area/Project-end/scss/_footer.scss */
.donate__list {
  padding-left: 0;
}

/* line 56, ../Personal-area/Project-end/scss/_footer.scss */
.footer .titel {
  margin-bottom: 24px;
  color: #ffffff;
}

/* Test */
/* line 7, ../Personal-area/Project-end/scss/style.scss */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 13, ../Personal-area/Project-end/scss/style.scss */
[class*=__container] {
  width: 100%;
  max-width: 1814px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 21, ../Personal-area/Project-end/scss/style.scss */
#hamburger-menu {
  display: none;
}

/* line 25, ../Personal-area/Project-end/scss/style.scss */
.button {
  background-color: #3457B2;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* line 33, ../Personal-area/Project-end/scss/style.scss */
.titel {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

/* line 38, ../Personal-area/Project-end/scss/style.scss */
.subtitel {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

/* line 45, ../Personal-area/Project-end/scss/style.scss */
#lang {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #F4F6FB;
  outline: none;
}

/* line 56, ../Personal-area/Project-end/scss/style.scss */
.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

/* line 63, ../Personal-area/Project-end/scss/style.scss */
li {
  list-style: none;
}

/*# sourceMappingURL=style.css.map */