/*Inter*/
@font-face {
  font-weight: 600;
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

/*Mulishr*/
@font-face {
  font-weight: 400;
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 600;
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.ttf") format("truetype");
}

/*Poppins*/
@font-face {
  font-weight: 400;
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
}

/* line 1, ../Ban/Project-end/scss/_header.scss */
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #F4F6FB;
  flex: 0 0 auto;
}

/* line 9, ../Ban/Project-end/scss/_header.scss */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 16, ../Ban/Project-end/scss/_header.scss */
.header__button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
}

/* line 25, ../Ban/Project-end/scss/_header.scss */
.header__button:hover {
  background-color: #3457b2;
  color: #ffffff;
  transition: 0.5s;
}

/* line 30, ../Ban/Project-end/scss/_header.scss */
.header .icons {
  display: flex;
  justify-content: start;
  padding-left: 9%;
  padding-top: 273px;
}

/* line 41, ../Ban/Project-end/scss/_header.scss */
.nav__menu {
  display: flex;
}

/* line 48, ../Ban/Project-end/scss/_header.scss */
.menu__items {
  display: flex;
  gap: 48px;
}

/* line 56, ../Ban/Project-end/scss/_header.scss */
.menu-item__link {
  color: #373f41;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

/* line 62, ../Ban/Project-end/scss/_header.scss */
.menu-item__link:hover {
  color: #3457b2;
  transition: 0.5s;
}

/* line 67, ../Ban/Project-end/scss/_header.scss */
.language {
  display: flex;
  /* Test */
}

/* line 13, ../Ban/Project-end/scss/_main.scss */
.main {
  flex: 1 0 auto;
}
.registr{
  position: absolute;
  background-color: #F5F7FB;
  display: flex;
  width: 500px;
  height: 640px;
  flex-direction: column;
  top: 100%;
  left: 57%;
  border-radius: 5px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: #282828;
  filter: drop-shadow(1px 13px 29px  rgba(0, 0, 0, 0.26));
}
.form__registr{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 10px 16px;
}
.form_registr, input{ 
  padding: 12px;
  border-radius: 5px;
  border-color: #282828;
}
.form__registr label{
  margin-top: 56px;
  margin-bottom: 10px;
}
.form__registr label:first-child{
  margin-top: 5px;
}
/* line 17, ../Ban/Project-end/scss/_main.scss */
.articles .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

/* line 25, ../Ban/Project-end/scss/_main.scss */
.articles-title {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 61px;
  letter-spacing: 0.2em;
  text-align: center;
}

/* line 33, ../Ban/Project-end/scss/_main.scss */
.articles-search {
  margin: 0 -10px;
  width: 100%;
  max-width: 1308px;
  display: flex;
  justify-content: space-between;
}

/* line 41, ../Ban/Project-end/scss/_main.scss */
.articles-search__item {
  width: 100%;
  max-width: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  background-color: #e5edf1;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 30px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  flex: 1 1 auto;
  margin: 0 10px;
}

/* line 55, ../Ban/Project-end/scss/_main.scss */
.articles-search__item .search-img {
  padding: 10px 10px 0px 10px;
}

/* line 58, ../Ban/Project-end/scss/_main.scss */
.articles-search__item img {
  padding: 5px;
  cursor: pointer;
}

/* line 62, ../Ban/Project-end/scss/_main.scss */
.articles-search__item:first-child {
  width: 100%;
  max-width: 1133px;
}

/* line 68, ../Ban/Project-end/scss/_main.scss */
.articles-items {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1448px));
  grid-template-rows: repeat(6, 1fr);
  padding: 0px 10px;
  gap: 36px;
}

/* line 75, ../Ban/Project-end/scss/_main.scss */
.articles-items__item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 59px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.06em;
  width: 100%;
  max-width: 1448px;
  height: 77px;
  background-color: #e5edf1;
}

/* line 88, ../Ban/Project-end/scss/_main.scss */
.articles-items__item .more-info {
  display: flex;
  justify-content: end;
}

/* line 91, ../Ban/Project-end/scss/_main.scss */
.articles-items__item .more-info img {
  cursor: pointer;
  padding: 8px 8px 0px 0px;
}

/* line 96, ../Ban/Project-end/scss/_main.scss */
.articles-items__item .title {
  display: flex;
  justify-content: center;
}

/* line 100, ../Ban/Project-end/scss/_main.scss */
.articles-items__item .data {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.06em;
  color: #797979;
  padding: 0px 0px 8px 8px;
}

/* line 110, ../Ban/Project-end/scss/_main.scss */
.articles-pagination {
  width: 100%;
  max-width: 1453px;
  height: fit-content;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 40px;
  background-color: white;
  box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  margin-top: 85px;
}

/* line 124, ../Ban/Project-end/scss/_main.scss */
.articles-pagination .control-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 10px;
  cursor: pointer;
}

/* line 132, ../Ban/Project-end/scss/_main.scss */
.articles-pagination .control-numbers {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

/* line 138, ../Ban/Project-end/scss/_main.scss */
.articles-pagination .control-numbers__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 68px;
  height: 50px;
  line-height: 1.8em;
  border-radius: 20px;
}

/* line 147, ../Ban/Project-end/scss/_main.scss */
.articles-pagination .control-numbers__item--active {
  background-color: #3C64B1;
  color: #F4F6FB;
}

/* line 154, ../Ban/Project-end/scss/_main.scss */
.search-input {
  width: 100%;
  max-width: 1000px;
  padding-left: 15px;
  border: none;
  background-color: #e5edf1;
  font-size: 28px;
}

.profile {
  padding-top: 99px;
  padding-bottom: 55px;
  font-family: "Mulish", sans-serif;
  color: #333333;
}
.profile__content{
  display: grid;
  grid-template-areas:
  "avatar name"
  "work name "
  "button button"
  "video video";
  padding-bottom: 68px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.profile__avatar {
  grid-area: avatar;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
}
.profile__work{
  grid-area:work ;
}
.profile__edit {
  display: grid;
  border: none;
  padding: 14px 20px 14px 21px;
  margin-top: 35px;
  margin-bottom: 37px;
  grid-area: button;
}

.descriptions {
  grid-area: name;
  display: flex;
  justify-content: space-between;
  font-size: 44px;
  font-weight: 700;
}
.profile__city{
  font-size: 30px;
  font-weight: 600;
}
.profile__titel-work{
  font-size: 44px;
  font-weight: 700;
  
}
.profile__subtitel-work{
  font-size: 30px;
  font-weight: 600;
  color: #5151E5;
  margin-top: 10px;
}
.bio {
  width: 100%;
  max-width: 915px;

}
.bio__titel {
  font-size: 44px;
  font-weight: 700;
}
.bio__text {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 40px;
  letter-spacing: 0.1px;

}
.profile__video{
  width:100%;
  max-width: 1097px;
  height: 569px;
  min-height: 309px;
  background: #D9D9D9;
  box-shadow: 1px 4px 23px rgba(0, 0, 0, 0.15);
  border-radius: 36px;
  margin: 0 auto;
  grid-area: video;
}

.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 98px;
  flex: 0 0 auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 15%));
  column-gap: 145px;
  margin-bottom: 41px;
  padding-top: 58px;
  justify-content: center;
}

.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  bottom: 10%;
}

.social__subtitel {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* line 45, ../Ban/Project-end/scss/_footer.scss */
.copyryight {
  color: #C3CBCD;
}

/* line 49, ../Ban/Project-end/scss/_footer.scss */
.donate__list {
  padding-left: 0;
}

/* line 53, ../Ban/Project-end/scss/_footer.scss */
.footer .titel {
  margin-bottom: 24px;
  color: #ffffff;
}

/* Test */
@media (max-width: 1250px) {

  /* line 17, ../Ban/Project-end/scss/_media.scss */
  .menu__btn {
    display: block;
  }
  /* line 21, ../Ban/Project-end/scss/_media.scss */
  .header__wrapper {
    justify-content: start;
  }
  /* line 25, ../Ban/Project-end/scss/_media.scss */
  .header__logo {
    position: relative;
    z-index: 1;
  }
  /* line 30, ../Ban/Project-end/scss/_media.scss */
  .button__item {
    padding: 0 1%;
  }
  /* line 34, ../Ban/Project-end/scss/_media.scss */
  .hamburger-menu {
    display: inline;
  }
  /* line 38, ../Ban/Project-end/scss/_media.scss */
  .header__button {
    display: none;
  }
  /* line 42, ../Ban/Project-end/scss/_media.scss */
  .language {
    display: none;
  }
  /* line 46, ../Ban/Project-end/scss/_media.scss */
  .nav__menu {
    display: none;
  }
  /* line 50, ../Ban/Project-end/scss/_media.scss */
  .hero__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 56, ../Ban/Project-end/scss/_media.scss */
  .hero__inner-titel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  /* line 63, ../Ban/Project-end/scss/_media.scss */
  .button__item {
    font-size: 22px;
  }
}

@media (max-width: 826px) {
  /* line 69, ../Ban/Project-end/scss/_media.scss */
  .button__item {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  
  /* line 92, ../Ban/Project-end/scss/_media.scss */
  .articles-items__item {
    font-size: 24px;
  }
  /* line 94, ../Ban/Project-end/scss/_media.scss */
  .articles-items__item .data {
    font-size: 16px;
  }
  /* line 98, ../Ban/Project-end/scss/_media.scss */
  #forward {
    grid-area: forward;
  }
  /* line 101, ../Ban/Project-end/scss/_media.scss */
  #back {
    grid-area: back;
  }
  /* line 104, ../Ban/Project-end/scss/_media.scss */
  .articles-pagination {
    grid-template-areas: "numbers numbers" "back forward";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }
  /* line 109, ../Ban/Project-end/scss/_media.scss */
  .articles-pagination .control-numbers {
    grid-area: numbers;
  }
  /* line 114, ../Ban/Project-end/scss/_media.scss */
  .footer__wrapper::after {
    bottom: 5%;
  }
}
@media (min-width: 280px) and (max-width: 540px) {
  /* line 126, ../Ban/Project-end/scss/_media.scss */
  .profile__avatar {
    align-self: center;
  }
  /* line 131, ../Ban/Project-end/scss/_media.scss */
  .hero__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  /* line 138, ../Ban/Project-end/scss/_media.scss */
  .hero-button__link {
    margin-right: 0;
  }

  /* line 149, ../Ban/Project-end/scss/_media.scss */
  .copyryight {
    margin-top: 12px;
  }
  
  /* line 168, ../Ban/Project-end/scss/_media.scss */
  .articles-search {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
/* line 8, ../Ban/Project-end/scss/style-area.scss */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* line 14, ../Ban/Project-end/scss/style-area.scss */
[class*="__container"] {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* line 20, ../Ban/Project-end/scss/style-area.scss */
#hamburger-menu {
  display: none;
}

/* line 24, ../Ban/Project-end/scss/style-area.scss */
.button {
  background-color: #3457b2;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
}

/* line 32, ../Ban/Project-end/scss/style-area.scss */
.titel {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

/* line 37, ../Ban/Project-end/scss/style-area.scss */
.subtitel {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

/* line 44, ../Ban/Project-end/scss/style-area.scss */
#lang {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

/* line 55, ../Ban/Project-end/scss/style-area.scss */
.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}
/* line 66, ../Ban/Project-end/scss/style-area.scss */
.index__hidden {
  z-index: 0;
}

.hidden{
  display: none;
}