@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&family=Jost&family=Lato:wght@700&family=Montserrat:ital,wght@1,200&family=Mulish:wght@400;600;700&family=Poppins:wght@400;600&family=Varela+Round&display=swap");
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #F4F6FB;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
}
.header__button:hover {
  background-color: #3457b2;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 9%;
  padding-top: 273px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.menu-item__link {
  color: #373f41;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}
.menu-item__link:hover {
  color: #3457b2;
  border-bottom: 3px solid #3457b2;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Test */
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.articles {
  padding-top: 63px;
  text-align: center;
}
.articles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.articles-title {
  font-family: "Mulish", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  max-width: 786px;
  margin: 47px auto;
}
.articles-search {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1133px 21px 67px 21px 67px;
  grid-template-columns: 1133px 67px 67px;
  gap: 0 21px;
}
.articles-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  background-color: #e5edf1;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 30px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
}
.articles-search__item img {
  cursor: pointer;
}
.articles-pagination {
  width: 1453px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 40px 1fr 40px 0.2fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 0 40px;
  background-color: white;
  -webkit-box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
          box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-size: 28px;
  font-family: "Mulish", sans-serif;
  margin-top: 85px;
}
.articles-pagination .control-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  cursor: pointer;
}
.articles-pagination .control-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
}
.articles-pagination .control-numbers__item {
  cursor: pointer;
  width: 68px;
  height: 50px;
  line-height: 1.8em;
  border-radius: 20px;
}
.articles-pagination .control-numbers__item--active {
  background-color: #d9d9d9;
}
.articles ul {
  all: unset;
}

.search-input {
  width: 1000px;
  border: none;
  background-color: #e5edf1;
}

.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 85px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.footer__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 230px));
  -webkit-column-gap: 94px;
     -moz-column-gap: 94px;
          column-gap: 94px;
  margin-bottom: 41px;
  padding-top: 58px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 10%;
}

.container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
}

.social__subtitel {
  margin-bottom: 20px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.copyryight {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #737b7d;
}

.donate__list {
  padding-left: 0;
}

.footer .titel {
  color: #ffffff;
}

/* Test */
@media (max-width: 1250px) {
  .menu__btn {
    display: block;
  }

  .header__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .header__logo {
    position: relative;
    z-index: 1;
  }

  .button__item {
    padding: 0 1%;
  }

  .hamburger-menu {
    display: inline;
  }

  .header__button {
    display: none;
  }

  .language {
    display: none;
  }

  .nav__menu {
    display: none;
  }

  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .hero__inner-titel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .button__item {
    font-size: 22px;
  }
}
@media (max-width: 826px) {
  .button__item {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .video {
    min-height: 280px;
  }

  .menu__button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .button__item {
    width: 50%;
  }

  .button__item:nth-child(2) {
    border-radius: 0 21px 21px 0;
  }

  .button__item:nth-child(3) {
    border-radius: 21px 0 0 21px;
  }
}
@media (min-width: 280px) and (max-width: 410px) {
  .hero__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .hero-button__link {
    margin-right: 0;
  }

  .history__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }

  .copyryight {
    margin-top: 12px;
  }

  .card__inner {
    row-gap: 55px;
  }

  .button__item {
    width: 100%;
  }

  .button__item:nth-child(1), .button__item:nth-child(2), .button__item:nth-child(3), .button__item:nth-child(4) {
    border-radius: 0;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

[class*=__container] {
  width: 100%;
  max-width: 1814px;
  margin: 0 auto;
  padding: 0 10px;
}

#hamburger-menu {
  display: none;
}

.button {
  background-color: #3457b2;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.titel {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

.subtitel {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

#lang {
  background-color: #ffffff;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #ffffff;
  outline: none;
}

.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

li {
  list-style: none;
}