
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[class*="-button"]:hover {
  background-color: #3457b2;
  color: #ffffff;
  transition: 0.5s;
}
.hidden{
  display: none;
}

/* Container */
.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  background-color: #f4f6fb;
  flex: 0 0 auto;
  z-index: 2;
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__login{
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  margin-right: -14px;
  padding: 14px 18px;
  border-radius: 12px;
}
.header__signup{
  font-weight: 700;
  border: 1px solid #3457b2;
  color: #3457b2;
  font-size: 16px;
  padding: 14px 49px;
  border-radius: 12px;
}


.header__login:hover {
  background-color: #3c64b1;
  color: #ffffff;
  transition: 0.5s;
}

.header__signup:hover {
  background-color: #3c64b1;
  color: #ffffff;
  transition: 0.5s;
}

.nav__menu {
  display: flex;
}

.menu__items {
  display: flex;
  gap: 48px;
}

.menu-item__link {
  color: #373f41;
  font-size: 18px;
  font-weight: 600;
}

.menu-item__link.active {
  color: #3c64b1;
}

.menu-item__link:hover {
  color: #3c64b1;
  transition: 0.5s;
}

.language {
  display: flex;
}
.registr{
  position: absolute;
  background-color: #F5F7FB;
  display: flex;
  width: 500px;
  flex-direction: column;
  top: 100%;
  left: 57%;
  border-radius: 5px;
  font-weight: 500;
  color: #282828;
  filter: drop-shadow(1px 13px 29px  rgba(0, 0, 0, 0.26));
}
.form__registr{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 10px 16px;
}
.form__signin{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin: 10px 16px;
}

.form__signin, input{ 
  padding: 12px;
  border-radius: 5px;
  border-color: #282828;
}
.form__signin label{
  margin-top: 56px;
  margin-bottom: 10px;
}
.form__signin label:first-child{
  margin-top: 5px;
}

.form_registr, input{ 
  padding: 12px;
  border-radius: 5px;
  border-color: #282828;
}
.form__registr label{
  margin-top: 56px;
  margin-bottom: 10px;
}
.form__registr label:first-child{
  margin-top: 5px;
}
.error-empty{
  color: #ED0131;
  font-size: 12px;

}
.error-password{
  color: #ED0131;
  font-size: 12px;
}
.submit__btn{
  width: 100%;
  font-weight: 700;
  border: 1px solid #3c64b1;
  background-color: #3c64b1;
  color: #d9d9d9;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 12px;
}

.submit__btn-signin{
  width: 100%;
  font-weight: 700;
  border: 1px solid #3c64b1;
  background-color: #3c64b1;
  color: #d9d9d9;
  font-size: 16px;
  margin-right: 24px;
  padding: 14px 18px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 12px;
}
.sign__in{
  position: absolute;
  background-color: #F5F7FB;
  display: flex;
  width: 500px;
  flex-direction: column;
  top: 100%;
  left: 57%;
  border-radius: 5px;
  color: #282828;
  filter: drop-shadow(1px 13px 29px  rgba(0, 0, 0, 0.26));
}

.burgerg__language{
  display: flex;
  padding-left: 20px;
  font-size: 32px;
  font-weight: 700;
  padding-top: 10px;
}
.burger__icons {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-left: 7%;
  gap: 15px;
}

/* Main */
.main {
  display: grid;
  grid-template-areas: "aside main";
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Aside */
.aside {
  max-width: 500px;
  width: 100%;
}
.articles-search {
  width: 90%;
  max-width: 998px;
  display: -ms-grid;
  display: grid;
  gap: 21px;
  margin-top: 100px;
}

.articles-search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-left: 20px;
  padding:7px 11px;
  background: #F4F6FB;
  border: 1px solid #3C64B1;
  border-radius: 12px;
  font-size: 20px;
  margin-bottom: 17.5px;
}

.search-input {
  width: 85%;
  max-width: 880px;
  padding-left: 15px;
  border: none;
  border-radius: 30px;
  background-color: rgba(244, 246, 251, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}

img.search__img {
  width: 38px;
  height: 38px;
}

.filter__img {
  margin-left: 20px;
}

.articles-search__item img {
  cursor: pointer;
}

@media (max-width: 985px) {
  .filter__img {
    margin-left: -6px;
  }
}

@media (max-width: 897px) {
  .filter__img {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 410px) {
  .articles-search__item {
    padding-left: 10px;
  }

  .filter__img {
    display: none;
  }

}
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 1);
}
.articles-pagination {
  width: 95%;
  max-width: 1000px;
  height: fit-content;
  display: grid;
  -ms-grid-columns: 0.2fr 40px 1fr 40px 0.2fr;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  gap: 0 40px;
  background-color: white;
  box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 28px;
  margin-top: 10px;
}

.articles-pagination .control-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  cursor: pointer;
}

.articles-pagination .control-numbers {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
}

.articles-pagination .control-numbers__item {
  cursor: pointer;
  width: 48px;
  height: 50px;
  text-align: center;
  line-height: 1.8em;
  border-radius: 20px;
  transition: 250ms;
}

.articles-pagination .control-numbers__item:hover {
  background-color: #019ea64f;
}

.articles-pagination .control-numbers__item--active {
  background-color: #3C64B1;
  cursor: pointer;
  width: 48px;
  height: 50px;
  text-align: center;
  line-height: 1.8em;
  border-radius: 20px;
  transition: 250ms;
  color: #F4F6FB;
}

.item {
  transition: all 300ms;
}

@media (max-widh: 768px) {
  #forward {
    grid-area: forward;
  }

  #back {
    grid-area: back;
  }

  .articles-pagination {
    grid-template-areas: "numbers numbers""back forward";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px;
  }

  .control-numbers {
    grid-area: numbers;
  }
}
.articles-block {
  max-width: 500px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  margin: 100px auto 0 auto;
}

.filters {
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;

  font-size: 20px;
  font-weight: 700;
  
  height: 100%;
  max-height: 796px;
  border-radius: 30px;
  padding: 30px 25px;

  background-color: rgba(244, 246, 251, 1);
  color: black;

  box-sizing: border-box;
  box-shadow: 0 10px 21px rgba(0, 0, 0, 0.15);
}

.filter, h2{
  text-align: center;
}

.filter__periods{
  text-align: center;
  margin-right: 0px;
}
.filter__periods .filters__label{
  text-align: center;
  margin-left: 40px;
}

.filters li {
  font-size: 15px;
  font-weight: 300;

  margin-top: 7px;

  box-sizing: border-box;
}

.filters ul {
  padding: 0;
}

.filters hr {
  width: 60%;
  height: .5px;
  margin: 30px auto;

  background-color: rgba(217, 217, 217, 1);

  border: none;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 12px;
  padding-left: 35px;

  font-size: 15px;

  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container > input {
  position: relative;
  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 35%;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 1);
  transition: 300ms;
}

/* Create a custom checkbox */
.checkmark-topics {
  position: absolute;
  top: 0;
  left: 30%;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 1);
  transition: 300ms;
}
.filter, .topics-checkmark{
  left: 10%;
  text-align: left;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark,
.container:hover input ~ .checkmark-topics {
  background-color: rgb(170, 170, 170);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark,
.container input:checked ~ .checkmark-topics {
  background-color: rgb(170, 170, 170);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after,
.checkmark-topics:after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after,
.container input:checked ~ .checkmark-topics:after {
  opacity: 1;
}

/* Style the checkmark/indicator */
.container .checkmark:after,
.container .checkmark-topics:after {
  left: 7.5px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-date {
  margin-top: 10px;
  padding-left: 8px;
  font-size: 15px;
  width: 65%;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: white;
}

.search-date:focus {
  outline: none;
  background-color: white;
  border: none;
}

.search-date:hover {
  background-color: rgb(255, 255, 255);
}

.move-down-icon {
  position: absolute;
  max-width: 200px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  background-color: rgba(244, 246, 251, 1);
  z-index: 1;
}

.filters__label {
  margin-left: 80px;
  width: 100%;
}

@media(min-width: 1100px) { 
  .filters{
    display: none;
  }
}
@media(max-width: 1100px) { 
  .filters{
    position: absolute;
    z-index: 1;
  }
}
.container-dropdown {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 13px;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-dropdown input {
  position: relative;
  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.checkmark-dropdown {
  position: absolute;
  top: -1px;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 1);
  transition: 300ms;
}

/* Create a custom checkbox */
.checkmark-topics-dropdown {
  position: absolute;
  top: -1px;
  left: 13%;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 1);
  transition: 300ms;
}


/* When the checkbox is checked, add a blue background */
.container-dropdown input:checked ~ .checkmark-dropdown,
.container-dropdown input:checked ~ .checkmark-topics-dropdown {
  background-color: rgb(170, 170, 170);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-dropdown:after,
.checkmark-topics-dropdown:after {
  content: "";
  position: absolute;
  opacity: 0;
}

/* Show the checkmark when checked */
.container-dropdown input:checked ~ .checkmark-dropdown:after,
.container-dropdown input:checked ~ .checkmark-topics-dropdown:after {
  opacity: 1;
}

/* Style the checkmark/indicator */
.container-dropdown .checkmark-dropdown:after,
.container-dropdown .checkmark-topics-dropdown:after {
  left: 7.5px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.search-date-dropdown {
  position: relative;
  left: 5px;
  margin-top: 5px;
  margin-left: 2px;
  padding-left: 10px;
  font-size: 14px;
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: white;
}

.search-date-dropdown:focus {
  outline: none;
  background-color: white;
  border: none;
}

.search-date-dropdown:hover {
  background-color: rgb(255, 255, 255);
}

.period-text {
  margin-left: 30px;
}

@media (max-width: 630px) {
  .search-date-dropdown {
    font-size: 10px;
  }
}

@media (max-width: 530px) {
  .search-date-dropdown {
    font-size: 8px;
    margin-left: 0;
  }
}

@media (min-width: 280px) and (max-width: 410px) {
  .container-dropdown {
    font-size: 12px;
    padding-left: 10px;
  }

  .checkmark-dropdown,
  .checkmark-topics-dropdown {
    top: -3px;
  }

  .search-date-dropdown {
    margin-left: 0;
    font-size: 11px;
  }

}
.hidden{
  display: none;
}

/* main */
.block {
    width: 95%;
    max-width: 1000px;
    background: #F4F6FB;
    box-shadow: 1px 4px 23px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.article__dropmenu {
    padding: 18px 29px 29px 29px;
    background: #F4F6FB;
  }
  .dropmenu__author {
    display: flex;
    align-items: center;
  }
  .dropmenu__lists{
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-weight: 600;
    padding-left: 0;
  }
  .dropmenu__list-item{
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
    margin-left: 10px;
  }
  .article__dropmenu-name {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 5px;
  }
 
  .dropmenu__text {
    width: 100%;
    max-width: 930px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.06em;
    margin-top: 18px;
  }
  .dropmenu__buttons {
    display: flex;
    align-items: center;
  }
  .dropmenu__btn-button{
    padding: 17px 23px;
    color: #3C64B1;
    border: 1px solid #3C64B1;;
    border-radius: 20px;
  } 
  
/* footer */

.footer {
  position: relative;
  text-align: center;
  background-color: #373f41;
  margin-top: 85px;
  flex: 0 0 auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 230px));
  column-gap: 94px;
  margin-bottom: 41px;
  padding-top: 58px;
  justify-content: center;
  justify-items: center;
}

.footer__wrapper::after {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 1px solid #737b7d;
  left: 0;
  padding-bottom: 24px;
  bottom: 12%;
}

.social__subtitel {
  margin-bottom: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.copyryight {
  margin-bottom: 24px;
  color: #737b7d;
}
.contacts{
  max-width: 227px;
}
.donate__list {
  padding-left: 0;
}

.footer .titel {
  color: #ffffff;
}

#hamburger-menu {
  display: none;
}

/* Button */
.button {
  background-color: #3c64b1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.titel {
  font-weight: 700;
}

.subtitel {
  font-size: 16px;
  font-weight: 400;
  color: #737b7d;
}

#lang {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

/* Media 1230px */
@media (max-width: 1230px) {
  .menu__btn {
    display: block;
  }

  .header__signup{display: none;}
  
  .header__login{display: none;}

  .header__wrapper {
    justify-content: start;
  }

  .header__logo {
    position: relative;
    z-index: 1;
  }

  .hamburger-menu {
    display: inline;
  }

  .header__button,
  .language,
  .nav__menu {
    display: none;
  }

  .text {
    font-size: 16px;
  }

  .time {
    font-size: 10px;
  }

  .name {
    font-size: 18px;
  }

  .articles-pagination .control-text {
    font-size: 20px;
  }

  .articles-pagination .control-numbers {
    font-size: 26px;
  }
}

/* Media 897px */
@media (max-width: 897px) {
  .footer__wrapper::after {
    bottom: 8%;
  }

  .search-input {
    font-size: 20px;
  }

  img.search__img {
    margin: 0 5px 0 5px;
    width: 36px;
    height: 36px;
  }

  .search__img.filter {
    display: none;
  }

  .user .image {
    width: 35px;
    height: 35px;
  }

  .user .name {
    font-size: 18px;
  }

  .user .time {
    font-size: 12px;
  }

  .article .name {
    font-size: 18px;
  }

  .article .themes {
    font-size: 12px;
  }

  .block .text {
    font-size: 16px;
  }

  .Read__more {
    width: 150px;
    height: 50px;
  }

  .articles-pagination .control-text {
    font-size: 18px;
  }

  .articles-pagination .control-numbers__item,
  .articles-pagination .item {
    font-size: 18px;
    line-height: 2.8rem;
    width: 58px;
    height: 44px;
  }

  .aside {
    display: none;
  }
}

/* Media  280px - 410px */
@media (min-width: 280px) and (max-width: 410px) {
  .copyryight {
    margin-top: 12px;
  }

  .header__logo {
    width: 90px;
    height: 100px;
    background-image: url(/img/media-logo.svg);
    background-repeat: no-repeat;
  }

  .header-logo__img {
    display: none;
  }

  .search-input {
    font-size: 15px;
  }

  .search__img {
    max-width: 28px;
    max-height: 28px;
    width: 100%;
    height: 100%;
  }

  .user .name {
    font-size: 14px;
  }

  .user .time {
    font-size: 11px;
  }

  .article .name {
    font-size: 16px;
  }

  .themes .theme_1,
  .themes .theme_2,
  .themes .theme_3 {
    font-size: 9px;
  }

  .block .text {
    font-size: 14px;
  }

  .Read__more {
    width: 130px;
    height: 45px;
  }

  .articles-pagination {
    grid-template-columns: none;
  }

  .articles-pagination .control-text {
    display: none;
  }

  .articles-pagination .control-numbers__item,
  .articles-pagination .item {
    font-size: 18px;
    line-height: 2.8rem;
    width: 58px;
    height: 44px;
  }
}