.footer {
   position: relative;
   text-align: center;
   background-color: $secondary-color;
   margin-top: 85px;
   flex: 0 0 auto;

   // .footer__wrapper

   &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25%, 230px));
      column-gap: 94px;
      margin-bottom: 41px;
      padding-top: 58px;
      justify-content: center;
   }

   &__wrapper::after {
      content: "";
      width: 100%;
      position: absolute;
      border-top: 1px solid $subtitel-color;
      left: 0;
      padding-bottom: 24px;
      bottom: 10%;
   }

}

.container {
   width: 100%;
   max-width: 1188px;
   margin: 0 auto;
}


.social {

   // .social__subtitel
   &__subtitel {
      margin-bottom: 20px;
   }
}

.icons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
}

.copyryight {
   margin-top: 24px;
   margin-bottom: 24px;
   color: $subtitel-color;
}

.donate {
   &__list {
      padding-left: 0;
   }
}

.footer .titel {
   color: $def-color;
}