.main {
   padding-top: 149px;
   flex: 1 0 auto;
}
.profile {
      padding-top: 49px;

		// .profile__content

		&__content {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 132px;
		}

		// .profile__info

		&__info {
         display: flex;
         flex-direction: column;
		}

		// .profile__video

		&__video {
         width: 100%;
         max-width: 738px;
         height: 100%;
         min-width: calc(738px / 2);
         border-radius: 30px;
         background: #E5EDF1;
		}
  
      &__item-img{
         width: 100%;
         max-width: 512px;
         min-width: 250px;
      }
      
   &__titel {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
   }
}
.profile {
      
   &__titel{
      margin-top: 50px;
   }
   // .profile__link

   &__link {
      font-family: Poppins;
      font-size: 29px;
      color: #3379E3;
   }

   // .profile__age

   &__age {
      font-family: Poppins;
      font-size: 30px;
   }

   // .profile__city

   &__city {
      font-family: Poppins;
      font-size: 30px;
   }
}


.bio {
   width: 100%;
   max-width: 1811px;
   margin: 0 auto;
   // .bio__titel
   &__titel{
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      color: #333333;
      margin-bottom: 29px;
      margin-top: 94px;
   }
   &__text{
      font-size: 30px;
   }
}
