.main {
  flex: 1 0 auto;
}
.articles {
  padding-top: 63px;
  text-align: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-title {
    font-family: $font-mulish;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    max-width: 786px;
    margin: 47px auto;
  }
  &-search {
    width: max-content;
    display: grid;
    grid-template-columns: 1133px 67px 67px;
    gap: 0 21px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      background-color: $primary-background;
      box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 30px;
      font-size: 28px;
      font-family: $font-mulish;
      img {
        cursor: pointer;
      }
    }
  }
  &-pagination {
    width: 1453px;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    gap: 0 40px;
    background-color: white;
    box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: 28px;
    font-family: $font-mulish;
    margin-top: 85px;
    .control-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      cursor: pointer;
    }
    .control-numbers {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      &__item {
        cursor: pointer;
        width: 68px;
        height: 50px;
        line-height: 1.8em;
        border-radius: 20px;
        &--active {
          background-color: $active;
        }
      }
    }
  }
  ul {
    all: unset;
  }
}
.search-input {
  width: 1000px;
  border: none;
  background-color: $primary-background;
}
