.main {
  flex: 1 0 auto;
}
.hero {
  padding-top: 209px;
  // .hero__wrapper

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__inner-titel {
    max-width: 445px;
  }
  // .hero__titel

  &__titel {
    font-size: 44px;
    margin-bottom: 44px;
  }

  // .hero__subtitel

  &__subtitel {
    margin-bottom: 44px;
  }
}

.hero-button {
  // .hero-button__link

  &__link {
    font-family: $font-mulish;
    font-weight: 700;
    border: 1px solid $primery;
    color: $primery;
    font-size: 16px;
    padding: 15px 18px;
    margin-right: 24px;
  }
  &__link:hover {
    background-color: $primery;
    color: $def-color;
    transition: 0.5s;
  }
}
.more {
  &__info {
    padding-top: 20px;
    padding-bottom: 33px;
    font-family: $font-lato;
    font-size: 24px;
    font-weight: 700;
  }
  &-info__link {
    color: $primery;
  }
}
.hero-item {
  // .hero-item__img

  &__img {
    width: 100%;
    height: 100%;
    max-width: 841px;
    max-height: 456px;
  }
}

.menu {
  // .menu__button

  &__button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 66px;
  }
}
.button {
  // .button__item

  &__item {
    font-family: $font-mulish;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    border: 1px solid $secondary-color;
    padding: 0 4%;
  }
  &__item:first-child {
    border-radius: 21px 0 0 21px;
  }
  &__item:last-child {
    border-radius: 0 21px 21px 0;
  }
}
.active {
  background-color: $primery;
  color: $def-color;
}

.titel__periods {
  text-align: center;
  color: $primery;
  margin-bottom: 64px;
}

.card {
  background-color: $card-background;
  padding: 20px 45px 20px 36px;
  border-radius: 36px;
  // .card__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 515px));
    justify-content: center;
    column-gap: 77px;
    row-gap: 110px;
    padding-bottom: 125px;
  }

  // .card__titel

  &__titel {
    text-align: center;
    color: $primery;
    margin-bottom: 39px;
  }

  // .card__text

  &__text {
    max-width: 434px;
    margin-bottom: 66px;
  }

  // .card__info

  &__info {
    color: $primery;
    font-family: $font-mulish;
    font-size: 16px;
    font-weight: 700;
  }
}
.history {
  padding-top: 63px;
  text-align: center;

  &__text {
    font-family: $font-mulish;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    max-width: 786px;
    margin: 47px auto;
  }
}

.video {
  width: 100%;
  max-width: 1082px;
  min-height: 574px;
  height: 100%;
  margin: 0 auto;
  background: #d9d9d9;
  border-radius: 44px;
}
.history-button {
  // .history-button__link
  &__link {
    margin-right: 91px;
  }
  &__link:hover {
    background-color: $primery;
    color: $def-color;
    transition: 0.5s;
  }
  &__link:last-child {
    margin-right: 0;
  }
}
.target {
  border-bottom: 1px solid $subtitel-color;
}
/* Test */
