&-pagination {
    width: 1453px;
    height: fit-content;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    gap: 0 40px;
    background-color: white;
    box-shadow: 1.07892px 4.31567px 43.1567px 11.8681px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    font-size: 28px;
    font-family: $font-mulish;
    margin-top: 85px;

    .control-text {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      cursor: pointer;
    }
    .control-numbers {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      &__item {
        cursor: pointer;
        width: 68px;
        height: 50px;
        line-height: 1.8em;
        border-radius: 20px;
        &--active {
          background-color: $active;
        }
      }
    }
  }

.search-input {
    width: 1000px;
    padding-left: 15px;
    border: none;
    background-color: $primary-background;
    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
  }