@import "fonts";
@import "_colors";
@import "_header";
@import "_main";
@import "_footer";
@import "_media";

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[class*="__container"] {
  width: 100%;
  max-width: 1414px;
  margin: 0 auto;
}

#hamburger-menu {
  display: none;
}

.button {
  background-color: $primery;
  color: $def-color;
  font-family: $font-mulish;
  font-size: 16px;
  font-weight: 700;
}

.titel {
  font-family: $font-mulish;
  font-weight: 700;
}

.subtitel {
  font-family: $font-mulish;
  font-size: 16px;
  font-weight: 400;
  color: $subtitel-color;
}

#lang {
  font-family: $font-mulish;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: none;
  border: none;
  background-color: #f4f6fb;
  outline: none;
}

.language option {
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 16px;
}

li {
  list-style: none;
}

.index__hidden{ 
  z-index: 0;
}

.show__popups{ 
  left:33%;
  transition: all .9s ease-in;
}