.footer {
   position: relative;
   text-align: center;
   background-color: $secondary-color;
   margin-top: 98px;
   flex: 0 0 auto;
  
   // .footer__wrapper

   &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px,15%));
      column-gap: 145px;
      margin-bottom: 41px;
      padding-top: 58px;
      justify-content: center;
   }

   &__wrapper::after{
      content: "";
      width: 100%;
      position: absolute;
      border-top: 1px solid $subtitel-color;
      left: 0;
      bottom: 10%;
   }
  
 
}


.social {
   // .social__subtitel
   &__subtitel {
      margin-bottom: 20px;
   }
}

.icons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
}
.copyryight{
   color: #C3CBCD;;
}
.donate{
   &__list{
      padding-left: 0;
   }
}
.footer .titel{
   margin-bottom: 24px;
   color: $def-color;
}

/* Test */